<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
      <div class="row breadcrumbs-top">
          <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Documents</h2>
              <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="['/admin']">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active"><a>Documents</a>
                      </li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
  <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
      <div class="form-group breadcrum-right">
          <div class="dropdown">
              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['/admin']">Dashboard</a>
                <a class="dropdown-item" [routerLink]="['/admin/budget']">Budget</a>
                <a class="dropdown-item" [routerLink]="['/admin/project']">Project</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="content-body">
  <section id="basic-vertical-layouts">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                          <label class="" for="budget">Select Budget</label>
                                        </div>
                                        <div class="col-md-8">
                                          <fieldset class="form-group">
                                            <select class="form-control" id="budget">
                                              <option value="undefined">Select Budget</option>
                                              <option *ngFor="let b of budgetList" [value]="b.value">{{b.budget}}</option>
                                            </select>
                                          </fieldset>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row">
                  <div class="col-6 py-2 px-2">
                    <div class="form-group row">
                      <div class="col-md-2">
                        <span for="filter">Filter By</span>
                      </div>
                      <div class="col-md-6">
                        <select class="form-control" id="filter">
                          <option value="undefined">Select Filter</option>
                          <option *ngFor="let f of filterList" [value]="f.value">{{f.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-header">
                      <div class="card-title ml-auto">
                        <button type="button" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light"
                            [routerLink]="['/admin/documents/create-document']">
                            <i class="feather icon-plus-circle"></i> Create Document
                            </button>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="card-body card-dashboard">
                    <div class="row" id="table-bordered">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-content">
                            <div class="table-responsive">
                              <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Document Name</th>
                                        <th>Description</th>
                                        <th>Format</th>
                                        <th>Uploaded By</th>
                                        <th>Uploaded Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover table-striped" *ngFor="let details of documentList, let i = index;">
                                    <tr >
                                        <th scope="row">{{details.name}}</th>
                                        <td>{{details.description}}</td>
                                        <td>{{details.format}}</td>
                                        <td>{{details.uploadedBy}}</td>
                                        <th>{{details.uploadedTime}}</th>
                                        <td>
                                          <div class="btn-group">
                                            <div class="dropdown">
                                                <button class="btn bg-gradient-primary dropdown-toggle mr-1 mb-1 waves-effect waves-light"
                                                  type="button" id="dropdownMenuButton101" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton101">
                                                    <a class="dropdown-item" href="#">View</a>
                                                    <a class="dropdown-item" href="#">Download</a>
                                                </div>
                                            </div>
                                          </div>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
