<div class="content-body">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="mr-auto">
              <fieldset class="form-group">
                <label class="h6" for="doc_type">Filter Document by Type:</label>
                <select class="form-control" id="doc_type" (change)="changeTableDisplay($event.target.value)">
                  <option value="POLICY_DOCUMENT"> Policy Documents </option>
                  <option value="FORMS"> Forms </option>
                </select>
              </fieldset>
            </div>
            <div class="card-title ml-auto">
              <button type="button" class="btn btn-outline-primary waves-effect waves-light" (click)="openModal(uploadDocumentModal, 'upload document')">
                <i class="feather icon-plus-circle"></i> Upload Document
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-body">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered mb-0">
                  <thead style="background-color: #0039A6; color: #fff;">
                    <tr>
                      <th>Document Name</th>
                      <th>Upload Link</th>
                      <th>Upload Type</th>
                      <th>Uploaded By</th>
                      <th>Date Uploaded</th>
                      <!-- <th></th> -->
                    </tr>
                  </thead>
                  <tbody class="table-hover table-striped table-hover-animation">
                    <ng-container *ngIf="documents !== undefined && documents.length > 0">
                      <tr *ngFor="let details of documents, let i = index;">
                        <td>{{details.filename}}</td>
                        <td>
                          <a mat-icon-button aria-label="Download Document" matTooltip="Download Document" color="primary"
                            matTooltipPosition="below" [href]="details.documentUrl" [download]="details.filename">
                            <mat-icon>download</mat-icon>
                          </a>
                        </td>
                        <td>{{details.uploadType}}</td>
                        <td>{{details.uploadBy}}</td>
                        <td>{{details.dateUploaded | date}}</td>
                      </tr>
                    </ng-container>
                    <tr *ngIf="documents === undefined || documents.length <= 0">
                      <td colspan="5">No HR Document Available.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #uploadDocumentModal let-data>
  <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
      <div class="modal-content">
        <section class="todo-form">
          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit(uploadFormData)" class="todo-input">
            <div class="modal-header">
              <h5 class="modal-title">{{data | titlecase}}</h5>
              <button type="button" class="close" aria-label="Close" mat-dialog-close>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

              <fieldset class="form-group">
                <label for="document_type">Document Type</label>
                <select id="document_type" class="form-control" formControlName="upload_type">
                    <option [value]="null">Select Type</option>
                    <ng-container *ngFor="let type of uploadTypes">
                      <option [value]="type.code">{{ type.name }}</option>
                    </ng-container>
                </select>

                <ng-container *ngIf="(uploadFormData.upload_type.dirty || uploadFormData.upload_type.touched) && uploadFormData.upload_type.invalid">
                  <div *ngIf="uploadFormData.upload_type.errors.required" class="invalid-feedback">Please Select Upload Type</div>
                </ng-container>
              </fieldset>

              <fieldset class="form-label-group form-group position-relative">
                <input type="file" class="form-control" (change)="handleFileInput($event.target.files)">
              </fieldset>
            </div>

            <div class="modal-footer">
              <fieldset class="form-group position-relative has-icon-left mb-0">
                <button type="submit" class="btn btn-primary add-todo-item waves-effect waves-light"
                  [disabled]="!uploadForm.invalid">
                  <i class="feather icon-upload d-block d-lg-none"></i>
                    <span class="d-none d-lg-block">Upload</span></button>
              </fieldset>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</ng-template>
