
<div class="content-body">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title"> Handover Details</div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="row mb-1">
                <div class="col-3">
                  <h6 class="bold">Resignee Name</h6>
                  <p>{{ handoverDetails.details?.resignee_name !== null ? handoverDetails.details?.resignee_name : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Resignee Address</h6>
                  <p>{{ handoverDetails.details?.resignee_address !== null ? handoverDetails.details?.resignee_address : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Resignee Phone</h6>
                  <p>{{ handoverDetails.details?.resignee_phone !== null ? handoverDetails.details?.resignee_phone : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Takeover name</h6>
                  <p>{{ handoverDetails.details?.takeover_name !== null ? handoverDetails.details?.takeover_name : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Handover Reason</h6>
                  <p>{{ handoverDetails.details?.handover_reason !== null ? handoverDetails.details?.handover_reason : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Handover Witness</h6>
                  <p>{{ handoverDetails.details?.handover_witness !== null ? handoverDetails.details?.handover_witness : '-'}}</p>
                </div>

                <div class="col-3">
                  <h6 class="bold">Effective Date</h6>
                  <p>{{ handoverDetails.details?.handover_effective_date !== null ? handoverDetails.details?.handover_effective_date : '-'}}</p>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Activities, Projects And Proposals</h5>
                      </mat-expansion-panel-header>

                      <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                  <thead style="background-color: #0039A6; color: #fff;">
                                    <tr>
                                      <th>S/N</th>
                                      <th>Subject</th>
                                      <th>Current Status</th>
                                      <th>Follow Up Action Required</th>
                                      <th>By Whom</th>
                                      <th>Expected Outcome</th>
                                      <th>Expected Completion Date</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.activities; let i = index">
                                    <ng-container *ngIf="handoverDetails?.activities !== undefined && handoverDetails?.activities.length>0">
                                      <tr>
                                        <td scope="row"> {{ i + 1 }} </td>
                                        <td>{{data.subject}}</td>
                                        <td>{{data.status}}</td>
                                        <td>{{data.followup_req}}</td>
                                        <td>{{data.followup_staff_id}}</td>
                                        <td>{{data.expected_outcome}}</td>
                                        <th>{{data.expected_comp_date | date}}</th>
                                      </tr>
                                    </ng-container>
                                    <ng-container *ngIf="handoverDetails?.activities === undefined || handoverDetails?.activities.length <= 0">
                                      <td colspan="8">No Activities or Projects data available</td>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Document Register</h5>
                      </mat-expansion-panel-header>

                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Client Communications</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Document Ref No</th>
                                          <th>Document Title</th>
                                          <th>Date Created</th>
                                          <th>Electronic File Directory</th>
                                          <th>location of Hardcopy</th>
                                          <th>Document Owner</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.client_communications; let i = index">
                                        <ng-container *ngIf="handoverDetails?.client_communications !== undefined && handoverDetails?.client_communications.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.sub_category}}</td>
                                            <td>{{data.reference_number}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.date_created}}</td>
                                            <td>{{data.file_directory_name}}</td>
                                            <td>{{data.file_hard_copy_loc}}</td>
                                            <th>{{data.document_owner}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.client_communications === undefined || handoverDetails?.client_communications.length <= 0">
                                          <td colspan="8">No Client Communications data available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Staff Records</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Document Ref No</th>
                                          <th>Document Title</th>
                                          <th>Date Created</th>
                                          <th>Electronic File Directory</th>
                                          <th>location of Hardcopy</th>
                                          <th>Document Owner</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.staff_records; let i = index">
                                        <ng-container *ngIf="handoverDetails?.staff_records !== undefined && handoverDetails?.staff_records.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.sub_category}}</td>
                                            <td>{{data.reference_number}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.date_created}}</td>
                                            <td>{{data.file_directory_name}}</td>
                                            <td>{{data.file_hard_copy_loc}}</td>
                                            <th>{{data.document_owner}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.staff_records === undefined || handoverDetails?.staff_records.length <= 0">
                                          <td colspan="8">No Staff Record Available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Site Records And Register</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Document Ref No</th>
                                          <th>Document Title</th>
                                          <th>Date Created</th>
                                          <th>Electronic File Directory</th>
                                          <th>location of Hardcopy</th>
                                          <th>Document Owner</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.site_record_and_register; let i = index">
                                        <ng-container *ngIf="handoverDetails?.site_record_and_register !== undefined && handoverDetails?.site_record_and_register.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.sub_category}}</td>
                                            <td>{{data.reference_number}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.date_created}}</td>
                                            <td>{{data.file_directory_name}}</td>
                                            <td>{{data.file_hard_copy_loc}}</td>
                                            <th>{{data.document_owner}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.site_record_and_register === undefined || handoverDetails?.site_record_and_register.length <= 0">
                                          <td colspan="8"> No Site Records and Register Data</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Training Materials</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Document Ref No</th>
                                          <th>Document Title</th>
                                          <th>Date Created</th>
                                          <th>Electronic File Directory</th>
                                          <th>location of Hardcopy</th>
                                          <th>Document Owner</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.training_materials; let i = index">
                                        <ng-container *ngIf="handoverDetails?.training_materials !== undefined && handoverDetails?.training_materials.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.sub_category}}</td>
                                            <td>{{data.reference_number}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.date_created}}</td>
                                            <td>{{data.file_directory_name}}</td>
                                            <td>{{data.file_hard_copy_loc}}</td>
                                            <th>{{data.document_owner}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.training_materials === undefined || handoverDetails?.training_materials.length <= 0">
                                          <td colspan="8">No Training Material Data</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Business Contacts</h5>
                      </mat-expansion-panel-header>
                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Sub-Contractors</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Relationship</th>
                                          <th>Name</th>
                                          <th>Company/Department</th>
                                          <th>Designation</th>
                                          <th>Office Address</th>
                                          <th>Phone No</th>
                                          <th>Email</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.sub_contractors; let i = index">
                                        <ng-container *ngIf="handoverDetails?.sub_contractors !== undefined && handoverDetails?.sub_contractors.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.subcat}}</td>
                                            <td>{{data.relationship}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.company_or_department}}</td>
                                            <td>{{data.designation}}</td>
                                            <td>{{data.office_address}}</td>
                                            <td>{{data.contact_phone}}</td>
                                            <th>{{data.contact_email}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.sub_contractors === undefined || handoverDetails?.sub_contractors.length <= 0">
                                          <td colspan="9">No Sub-Contractor Data Available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Suppliers</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Relationship</th>
                                          <th>Name</th>
                                          <th>Company/Department</th>
                                          <th>Designation</th>
                                          <th>Office Address</th>
                                          <th>Phone No</th>
                                          <th>Email</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.suppliers; let i = index">
                                        <ng-container *ngIf="handoverDetails?.suppliers !== undefined && handoverDetails?.suppliers.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.subcat}}</td>
                                            <td>{{data.relationship}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.company_or_department}}</td>
                                            <td>{{data.designation}}</td>
                                            <td>{{data.office_address}}</td>
                                            <td>{{data.contact_phone}}</td>
                                            <th>{{data.contact_email}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.suppliers === undefined || handoverDetails?.suppliers.length <= 0">
                                          <td colspan="9">No Supplier Data Available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Clients</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background-color: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Relationship</th>
                                          <th>Name</th>
                                          <th>Company/Department</th>
                                          <th>Designation</th>
                                          <th>Office Address</th>
                                          <th>Phone No</th>
                                          <th>Email</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.clients; let i = index">
                                        <ng-container *ngIf=" handoverDetails?.clients !== undefined &&  handoverDetails?.clients.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.subcat}}</td>
                                            <td>{{data.relationship}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.company_or_department}}</td>
                                            <td>{{data.designation}}</td>
                                            <td>{{data.office_address}}</td>
                                            <td>{{data.contact_phone}}</td>
                                            <th>{{data.contact_email}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf=" handoverDetails?.clients === undefined ||  handoverDetails?.clients.length > 0">
                                          <td colspan="9">No Client Data Available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Other Contacts</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Relationship</th>
                                          <th>Name</th>
                                          <th>Company/Department</th>
                                          <th>Designation</th>
                                          <th>Office Address</th>
                                          <th>Phone No</th>
                                          <th>Email</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.others; let i = index">
                                        <ng-container *ngIf="handoverDetails?.others !== undefined || handoverDetails?.others.length > 0">
                                        <tr>
                                          <td scope="row"> {{ i + 1 }} </td>
                                          <td>{{data.subcat}}</td>
                                          <td>{{data.relationship}}</td>
                                          <td>{{data.name}}</td>
                                          <td>{{data.company_or_department}}</td>
                                          <td>{{data.designation}}</td>
                                          <td>{{data.office_address}}</td>
                                          <td>{{data.contact_phone}}</td>
                                          <th>{{data.contact_email}}</th>
                                        </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.others === undefined || handoverDetails?.others.length > 0">
                                          <td colspan="9">No data available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Tools And Equipment</h5>
                      </mat-expansion-panel-header>

                      <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                  <thead style="background: #0039A6; color: #fff;">
                                    <tr>
                                      <th>S/N</th>
                                      <th>Item</th>
                                      <th>Type</th>
                                      <th>No of Units</th>
                                      <th>Current Condition</th>
                                      <th>Current Location</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.tools; let i = index">
                                    <tr *ngIf="handoverDetails?.tools !== undefined && handoverDetails?.tools > 0">
                                      <td scope="row"> {{ i + 1 }} </td>
                                      <td>{{data.item}}</td>
                                      <td>{{data.type}}</td>
                                      <td>{{data.no_of_units}}</td>
                                      <td>{{data.condition}}</td>
                                      <td>{{data.location}}</td>
                                    </tr>
                                    <tr *ngIf="handoverDetails?.tools === undefined || handoverDetails?.tools.length <= 0">
                                      <td colspan="7">No data available</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Books, Cds, Softwares and Reference Manuals</h5>
                      </mat-expansion-panel-header>

                      <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Books</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Title</th>
                                          <th>Softcopy Folder/File Name</th>
                                          <th>Location of Hardcopy/CD</th>
                                          <th>Weblink / Website</th>
                                          <th>user ID</th>
                                          <th>Password</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.books; let i = index">
                                        <ng-container *ngIf="handoverDetails?.books !== undefined && handoverDetails?.books.length > 0">
                                          <tr>
                                          <td scope="row"> {{ i + 1 }} </td>
                                          <td>{{data.subcat}}</td>
                                          <td>{{data.title}}</td>
                                          <td>{{data.file_path}}</td>
                                          <td>{{data.hard_copy_loc}}</td>
                                          <td>{{data.website_weblink}}</td>
                                          <td>{{data.user_id}}</td>
                                          <th>{{data.password}}</th>
                                        </tr>
                                      </ng-container>
                                      <ng-container *ngIf="handoverDetails?.books === undefined || handoverDetails?.books.length <= 0">
                                        <td colspan="8">no data available</td>
                                      </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Cds</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Title</th>
                                          <th>Softcopy Folder/File Name</th>
                                          <th>Location of Hardcopy/CD</th>
                                          <th>Weblink / Website</th>
                                          <th>user ID</th>
                                          <th>Password</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.cds; let i = index">
                                        <ng-container *ngIf="handoverDetails?.cds !== undefined && handoverDetails?.cds.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.subcat}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.file_path}}</td>
                                            <td>{{data.hard_copy_loc}}</td>
                                            <td>{{data.website_weblink}}</td>
                                            <td>{{data.user_id}}</td>
                                            <th>{{data.password}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.cds === undefined || handoverDetails?.cds.length <= 0">
                                          <td colspan="8">No CD Data available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Softwares</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Title</th>
                                          <th>Softcopy Folder/File Name</th>
                                          <th>Location of Hardcopy/CD</th>
                                          <th>Weblink / Website</th>
                                          <th>user ID</th>
                                          <th>Password</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.softwares; let i = index">
                                        <ng-container *ngIf="handoverDetails?.softwares !== undefined && handoverDetails?.softwares.length > 0">
                                          <tr>
                                            <td scope="row"> {{ i + 1 }} </td>
                                            <td>{{data.subcat}}</td>
                                            <td>{{data.title}}</td>
                                            <td>{{data.file_path}}</td>
                                            <td>{{data.hard_copy_loc}}</td>
                                            <td>{{data.website_weblink}}</td>
                                            <td>{{data.user_id}}</td>
                                            <th>{{data.password}}</th>
                                          </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.softwares === undefined || handoverDetails?.softwares.length > 0">
                                          <td colspan="8">No Software data available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <h5 class="card-title">Reference Manuals</h5>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                      <thead style="background: #0039A6; color: #fff;">
                                        <tr>
                                          <th>S/N</th>
                                          <th>Category</th>
                                          <th>Title</th>
                                          <th>Softcopy Folder/File Name</th>
                                          <th>Location of Hardcopy/CD</th>
                                          <th>Weblink / Website</th>
                                          <th>user ID</th>
                                          <th>Password</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.reference_manuals; let i = index">
                                        <ng-container *ngIf="handoverDetails?.reference_manuals !== undefined && handoverDetails?.reference_manuals.length > 0">
                                        <tr>
                                          <td scope="row"> {{ i + 1 }} </td>
                                          <td>{{data.subcat}}</td>
                                          <td>{{data.title}}</td>
                                          <td>{{data.file_path}}</td>
                                          <td>{{data.hard_copy_loc}}</td>
                                          <td>{{data.website_weblink}}</td>
                                          <td>{{data.user_id}}</td>
                                          <th>{{data.password}}</th>
                                        </tr>
                                        </ng-container>
                                        <ng-container *ngIf="handoverDetails?.reference_manuals === undefined || handoverDetails?.reference_manuals.length <= 0">
                                          <td colspan="8">No Reference material data available</td>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h5 class="card-title">Vehicle Maintenance</h5>
                      </mat-expansion-panel-header>

                      <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                  <thead style="background: #0039A6; color: #fff;">
                                    <tr>
                                      <th>S/N</th>
                                      <th>Driver Name</th>
                                      <th>Vehicle Type</th>
                                      <th>Vehicle Number</th>
                                      <th>Vehicle Status</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-hover table-striped table-hover-animation" *ngFor="let data of handoverDetails?.vehicleMaintenanceDetails; let i = index">
                                    <ng-container *ngIf="handoverDetails?.vehicleMaintenanceDetails !== undefined && handoverDetails?.vehicleMaintenanceDetails.length > 0">
                                      <tr>
                                        <td scope="row"> {{ i + 1 }} </td>
                                        <td>{{data.driver_name}}</td>
                                        <td>{{data.vehicle_type}}</td>
                                        <td>{{data.vehicle_number}}</td>
                                        <td>{{data.status}}</td>
                                      </tr>
                                    </ng-container>
                                    <ng-container *ngIf="handoverDetails?.vehicleMaintenanceDetails === undefined || handoverDetails?.vehicleMaintenanceDetails.length <= 0">
                                      <td colspan="6"></td>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
