 <!-- BEGIN: Main Menu-->
 <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto">
            <a class="navbar-brand" style="margin-top:.6rem !important;">
                <!-- <div class="brand-logo"> -->
                  <!-- <img src="../../../assets/images/lagos_logo.png" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy"> -->
                <!-- </div> -->
                <img src="../../../assets/images/lagos_logo.png" width="50" height="50" alt="" loading="lazy">

                <h2 class="brand-text mb-0" style="color: #fff !important">ERP</h2>
            </a>
          </li>
          <li class="nav-item nav-toggle" (click)="toggle()">
              <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                  <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                  <i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i>
              </a>
          </li>
      </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content py-2">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
              <a [routerLink]="['/admin/dashboard']"><i class="feather icon-grid"></i>
                <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
                <!-- <span class="badge badge badge-warning badge-pill float-right mr-2">2</span> -->
              </a>
              <!-- <ul class="menu-content">
                  <li class="active"><a ><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a>
                  </li>
                  <li><a ><i class="feather icon-circle"></i><span class="menu-item" data-i18n="eCommerce">eCommerce</span></a>
                  </li>
              </ul> -->
            </li>
            <!-- <li class=" navigation-header"><span>Modules</span>
            </li> -->
            <li class=" nav-item"><a [routerLink]="['/admin/employee']" ><i class="feather icon-users"></i><span class="menu-title" data-i18n="Email">Employee</span></a>
            </li>
            <li class=" nav-item"><a [routerLink]="['/admin/activity']"><i class="feather icon-activity"></i><span class="menu-title" data-i18n="Email">Activity</span></a>
            </li>
            <li class=" nav-item"><a [routerLink]="['/admin/handover']" ><i class="feather icon-send"></i><span class="menu-title" data-i18n="Chat">Handover</span></a>
            </li>
            <li class=" nav-item"><a [routerLink]="['/admin/leave']"><i class="feather icon-log-out"></i><span class="menu-title" data-i18n="Todo">Leave</span></a>
            </li>
            <!-- <li class=" nav-item"><a href="app-user.html"><i class="feather icon-bar-chart"></i><span class="menu-title" data-i18n="User dataTables">User dataTables</span></a>
            </li> -->
            <li class="nav-item has-sub"><a><i class="feather icon-file-text"></i><span class="menu-title" data-i18n="Documents">Documents</span></a>
              <ul class="menu-content">
                  <li class=" nav-item"><a [routerLink]="['/admin/documents/e-documents']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="E-Documents">E-Documents</span></a>
                  </li>
                  <li class=" nav-item"><a [routerLink]="['/admin/documents/hr-documents']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Hr-Documents">HR-Documents</span></a>
                  </li>
              </ul>
          </li>
            <li class="nav-item has-sub"><a><i class="feather icon-layers"></i><span class="menu-title" data-i18n="Reports">Reports</span></a>
                <ul class="menu-content">
                    <li class=" nav-item"><a [routerLink]="['/admin/report/employee-report']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Employee Report">Employee Report</span></a>
                    </li>
                    <li class=" nav-item"><a [routerLink]="['/admin/report/handover-report']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Handover Report">Handover Report</span></a>
                    </li>
                    <li class=" nav-item"><a [routerLink]="['/admin/report/activity-report']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Activity Report">Activity Report</span></a>
                    </li>
                    <li class=" nav-item"><a [routerLink]="['/admin/report/leave-report']"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Leave Report">Leave Report</span></a>
                    </li>
                </ul>
            </li>
            <!-- <li class=" navigation-header"><span>UI Elements</span>
            </li> -->
            <li class="nav-item"><a [routerLink]="['/admin/setup']" ><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Setup">Setup</span></a>
            </li>
        </ul>
    </div>

</div>
<!-- END: Main Menu-->
