<div class="content-body">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title ml-auto">
              <button type="button" class="btn btn-outline-primary waves-effect waves-light" (click)="openModal(entryModal, 'register')">
                <i class="feather icon-plus-circle"></i> Register Entry
              </button>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form [formGroup]="filterForm" (ngSubmit)="onSubmit('filterFormData', filterFormData)">
                <div class="form-body">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                      <div class="form-group">
                        <label class="bold" for="filter_by">Filter By:</label>
                        <fieldset class="form-group">
                          <select [ngClass]="{'form-control' : true,
                                              'is-invalid' : (filterFormData.filter_by.dirty || filterFormData.filter_by.touched) && filterFormData.filter_by.invalid,
                                              'is-valid' : (filterFormData.filter_by.dirty || filterFormData.filter_by.touched) && filterFormData.filter_by.valid
                                              }" id="filter_by" formControlName="filter_by" (change)="displayFilter(filterFormData.filter_by.value)">
                            <option [value]="null">Select Filter</option>
                            <ng-container *ngFor="let option of filterBy">
                              <option [value]="option.value">{{ option.name }}</option>
                            </ng-container>
                          </select>

                          <ng-container *ngIf="(filterFormData.filter_by.dirty || filterFormData.filter_by.touched) && filterFormData.filter_by.invalid">
                            <div *ngIf="filterFormData.filter_by.errors.required" class="invalid-feedback">Please select filter</div>
                          </ng-container>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6" *ngIf="filterOption === 'custom' || filterOption === 'search'">
                      <div class="form-group">
                        <label for="search">Search By Entry Name</label>
                        <ng-select [items]="entryItems$ | async" [virtualScroll]="true" placeholder="Search By Entry" labelForId="search"
                          dropdownPosition="auto" bindLabel="name" bindValue="id" formControlName="search">
                        </ng-select>
                        <ng-container *ngIf="(filterFormData.search.dirty || filterFormData.search.touched) && filterFormData.search.invalid">
                          <div *ngIf="filterFormData.search.errors.required" class="invalid-feedback">Please Enter Name of Takeover Staff</div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6" *ngIf="filterOption === 'custom' || filterOption === 'data'">
                      <div class="form-group">
                        <label for="data">Data</label>
                        <fieldset class="form-label-group form-group position-relative">
                          <input type="text" [ngClass]="{'form-control' : true,
                                                          'is-invalid' : (filterFormData.data.dirty || filterFormData.data.touched) && filterFormData.data.invalid,
                                                          'is-valid' : (filterFormData.data.dirty || filterFormData.data.touched) && filterFormData.data.valid
                                                          }" id="data" formControlName="data" placeholder="Document Name, Ref No or staff" required>

                          <ng-container *ngIf="(filterFormData.data.dirty || filterFormData.data.touched) && filterFormData.data.invalid">
                            <div *ngIf="filterFormData.data.errors.required" class="invalid-feedback">Please enter search data</div>
                          </ng-container>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6" *ngIf="filterOption === 'custom' || filterOption === 'status'">
                      <div class="form-group">
                        <label for="status">Status</label>
                        <fieldset class="form-group">
                          <select [ngClass]="{'form-control' : true,
                                              'is-invalid' : (filterFormData.status.dirty || filterFormData.status.touched) && filterFormData.status.invalid,
                                              'is-valid' : (filterFormData.status.dirty || filterFormData.status.touched) && filterFormData.status.valid
                                              }" id="status" formControlName="status">
                            <option [value]="null">Select Status</option>
                            <option value="open">Open</option>
                            <option value="closed">Closed</option>
                          </select>

                          <ng-container *ngIf="(filterFormData.status.dirty || filterFormData.status.touched) && filterFormData.status.invalid">
                            <div *ngIf="filterFormData.status.errors.required" class="invalid-feedback">Please select status</div>
                          </ng-container>
                        </fieldset>
                      </div>
                    </div>

                    <!-- <div class="col-lg-3 col-md-4 col-6" *ngIf="filterOption === 'custom' || filterOption === 'operation'">
                      <div class="form-group">
                        <label for="operation">Operation type</label>
                        <fieldset class="form-group">
                          <select [ngClass]="{'form-control' : true,
                                              'is-invalid' : (filterFormData.operation.dirty || filterFormData.operation.touched) && filterFormData.operation.invalid,
                                              'is-valid' : (filterFormData.operation.dirty || filterFormData.operation.touched) && filterFormData.operation.valid
                                              }" id="operation" formControlName="operation">
                            <option [value]="null">Select Operation type</option>
                            <option value="ED">E-Document</option>
                            <option value="EA">E-Document Assignment</option>
                          </select>

                          <ng-container *ngIf="(filterFormData.operation.dirty || filterFormData.operation.touched) && filterFormData.operation.invalid">
                            <div *ngIf="filterFormData.operation.errors.required" class="invalid-feedback">Please Operation type</div>
                          </ng-container>
                        </fieldset>
                      </div>
                    </div> -->

                    <div class="col-lg-3 col-md-4 col-6">
                      <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-outline-primary mr-1 waves-effect waves-light">
                          <i class="feather icon-search"></i> Search
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-body">
  <!-- Zero configuration table -->
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- <div class="card-header">
            <div class="ml-auto">
              <button type="button" [disabled]="handoverReports.length === 0" class="btn bg-gradient-primary mb-1 waves-effect waves-light">
                <i class="feather icon-download" (click)="downloadReport()"></i> Download Report
              </button>
            </div>
          </div> -->
          <div class="card-content">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered mb-0">
                  <thead class="thead-dark">
                    <tr>
                      <th>Document Name</th>
                      <th>Document Reference</th>
                      <th>Document Description</th>
                      <th>Recieved By</th>
                      <th>Receiving Unit</th>
                      <!-- <th>Receiving Department</th> -->
                      <th>Document Status</th>
                      <th>Date Received</th>
                      <th>Upload Link</th>
                      <th>Date Created</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="table-hover table-striped table-hover-animation" *ngFor="let details of entries, let i = index;">
                    <tr>
                      <td>{{details.edoc_doc_name}}</td>
                      <td>{{details.edoc_doc_ref}}</td>
                      <td>{{details.edoc_doc_desc}}</td>
                      <td>{{details.edoc_received_by}}</td>
                      <td>{{details.edoc_receiving_unit}}</td>
                      <!-- <td>{{details.edoc_receiving_dept}}</td> -->
                      <td>{{details.edoc_status}}</td>
                      <td>{{details.edoc_date_received | date}}</td>
                      <td>
                          <a mat-icon-button aria-label="Download Document" matTooltip="Download Document" color="primary"
                            matTooltipPosition="below" [href]="details.edoc_upload_link" [download]="details.edoc_doc_name">
                            <mat-icon>download</mat-icon>
                          </a>
                      </td>
                      <td>{{details.edoc_date_created | date}}</td>
                      <td>
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                          <mat-button-toggle value="left" aria-label="View document" matTooltip="View Document"
                            [routerLink]="['../view-edocument']" [queryParams]="{id: details.edoc_doc_ref}">
                            <mat-icon color="primary">preview</mat-icon>
                          </mat-button-toggle>
                          <mat-button-toggle value="center" aria-label="Edit Document"
                            (click)="openModal(entryModal, 'edit', details)" matTooltip="Edit Document">
                            <mat-icon color="accent">edit</mat-icon>
                          </mat-button-toggle>
                          <mat-button-toggle value="right" aria-label="Delete Document"
                            (click)="entryAction(entryActionModal, 'delete', details)" matTooltip="Delete Document">
                            <mat-icon color="warn">delete</mat-icon>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<ng-template #entryModal let-data>
  <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
          <section class="todo-form">
              <form [formGroup]="entryForm" (ngSubmit)="onSubmit('entryFormData', entryFormData, data)" class="todo-input">
                <div class="modal-header">
                  <h5 class="modal-title"> {{ data | titlecase}} Entry</h5>
                  <button type="button" class="close" mat-dialog-close aria-label="Close" (click)="clearForm();">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_doc_name">Document Name</label>
                        <input type="text" [ngClass]="{'form-control' : true,
                                                        'is-invalid' : (entryFormData.edoc_doc_name.dirty || entryFormData.edoc_doc_name.touched) && entryFormData.edoc_doc_name.invalid,
                                                        'is-valid' : (entryFormData.edoc_doc_name.dirty || entryFormData.edoc_doc_name.touched) && entryFormData.edoc_doc_name.valid
                                                      }" id="edoc_doc_name" formControlName="edoc_doc_name" placeholder="Document Name" required>

                        <ng-container *ngIf="(entryFormData.edoc_doc_name.dirty || entryFormData.edoc_doc_name.touched) && entryFormData.edoc_doc_name.invalid">
                          <div *ngIf="entryFormData.edoc_doc_name.errors.required" class="invalid-feedback">Document Name is required</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_doc_title">Document Title</label>
                        <input type="text" [ngClass]="{'form-control' : true,
                                                        'is-invalid' : (entryFormData.edoc_doc_title.dirty || entryFormData.edoc_doc_title.touched) && entryFormData.edoc_doc_title.invalid,
                                                        'is-valid' : (entryFormData.edoc_doc_title.dirty || entryFormData.edoc_doc_title.touched) && entryFormData.edoc_doc_title.valid
                                                      }" id="edoc_doc_title" formControlName="edoc_doc_title" placeholder="Document Title" required>

                        <ng-container *ngIf="(entryFormData.edoc_doc_title.dirty || entryFormData.edoc_doc_title.touched) && entryFormData.edoc_doc_title.invalid">
                          <div *ngIf="entryFormData.edoc_doc_title.errors.required" class="invalid-feedback">Enter Document Title</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_doc_desc">Document Description</label>
                        <textarea [ngClass]="{'form-control' : true,
                                              'is-invalid' : (entryFormData.edoc_doc_desc.dirty || entryFormData.edoc_doc_desc.touched) && entryFormData.edoc_doc_desc.invalid,
                                              'is-valid' : (entryFormData.edoc_doc_desc.dirty || entryFormData.edoc_doc_desc.touched) && entryFormData.edoc_doc_desc.valid
                                            }" rows="2" id="edoc_doc_desc" formControlName="edoc_doc_desc" placeholder="Document Description"></textarea>

                        <ng-container *ngIf="(entryFormData.edoc_doc_desc.dirty || entryFormData.edoc_doc_desc.touched) && entryFormData.edoc_doc_desc.invalid">
                          <div *ngIf="entryFormData.edoc_doc_desc.errors.required" class="invalid-feedback">Please enter Document Description</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_doc_ref">Document Reference</label>
                        <input type="text" [ngClass]="{'form-control' : true,
                                                        'is-invalid' : (entryFormData.edoc_doc_ref.dirty || entryFormData.edoc_doc_ref.touched) && entryFormData.edoc_doc_ref.invalid,
                                                        'is-valid' : (entryFormData.edoc_doc_ref.dirty || entryFormData.edoc_doc_ref.touched) && entryFormData.edoc_doc_ref.valid
                                                      }" id="edoc_doc_ref" formControlName="edoc_doc_ref" placeholder="Document Reference" required>

                        <ng-container *ngIf="(entryFormData.edoc_doc_ref.dirty || entryFormData.edoc_doc_ref.touched) && entryFormData.edoc_doc_ref.invalid">
                          <div *ngIf="entryFormData.edoc_doc_ref.errors.required" class="invalid-feedback">Enter Document Reference</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                    <fieldset class="form-group position-relative">
                      <label for="edoc_received_by">Received By</label>
                      <ng-select [items]="employees$ | async" [virtualScroll]="true" placeholder="Received By" labelForId="receivedBy"
                        dropdownPosition="auto" bindLabel="name" bindValue="id" formControlName="edoc_received_by">
                      </ng-select>
                      <ng-container *ngIf="(entryFormData.edoc_received_by.dirty || entryFormData.edoc_received_by.touched) && entryFormData.edoc_received_by.invalid">
                        <div *ngIf="entryFormData.edoc_received_by.errors.required" class="invalid-feedback">Please Enter Name of Receiver</div>
                      </ng-container>
                    </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_receiving_unit">Receiving Unit</label>
                        <select [ngClass]="{'form-control' : true,
                                            'is-invalid' : (entryFormData.edoc_receiving_unit.dirty || entryFormData.edoc_receiving_unit.touched) && entryFormData.edoc_receiving_unit.invalid,
                                            'is-valid' : (entryFormData.edoc_receiving_unit.dirty || entryFormData.edoc_receiving_unit.touched) && entryFormData.edoc_receiving_unit.valid
                                          }" id="edoc_receiving_unit" formControlName="edoc_receiving_unit">
                            <option [value]="null">Select Receiving Unit</option>
                            <option *ngFor="let unit of units" [value]="unit.code">{{ unit.name }}</option>
                        </select>

                        <ng-container *ngIf="(entryFormData.edoc_receiving_unit.dirty || entryFormData.edoc_receiving_unit.touched) && entryFormData.edoc_receiving_unit.invalid">
                          <div *ngIf="entryFormData.edoc_receiving_unit.errors.required" class="invalid-feedback">Please Select Recieving Unit</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-12">
                      <fieldset class="form-group">
                        <label for="edoc_date_received">Date Recieved</label>
                        <input type="date" [ngClass]="{'form-control' : true,
                                                        'is-invalid' : (entryFormData.edoc_date_received.dirty || entryFormData.edoc_date_received.touched) && entryFormData.edoc_date_received.invalid,
                                                        'is-valid' : (entryFormData.edoc_date_received.dirty || entryFormData.edoc_date_received.touched) && entryFormData.edoc_date_received.valid
                                                      }" id="edoc_date_received" formControlName="edoc_date_received" placeholder="Date Recieved" required>

                        <ng-container *ngIf="(entryFormData.edoc_date_received.dirty || entryFormData.edoc_date_received.touched) && entryFormData.edoc_date_received.invalid">
                          <div *ngIf="entryFormData.edoc_date_received.errors.required" class="invalid-feedback">Select Date Recieved</div>
                        </ng-container>
                      </fieldset>
                    </div>

                    <ng-container *ngIf="data === 'register' ">
                      <div class="col-md-6 col-12">
                        <fieldset class="form-group">
                          <label for="edoc_file">Document Upload</label>
                          <input type="file" [ngClass]="{'form-control' : true,
                                                          'is-invalid' : (entryFormData.edoc_file.dirty || entryFormData.edoc_file.touched) && entryFormData.edoc_file.invalid,
                                                          'is-valid' : (entryFormData.edoc_file.dirty || entryFormData.edoc_file.touched) && entryFormData.edoc_file.valid
                                                        }" id="edoc_file" formControlName="edoc_file" placeholder="Upload File" (change)="handleFileInput($event.target.files)">

                          <ng-container *ngIf="(entryFormData.edoc_file.dirty || entryFormData.edoc_file.touched) && entryFormData.edoc_file.invalid">
                            <div *ngIf="entryFormData.edoc_file.errors.required" class="invalid-feedback">Upload Document</div>
                          </ng-container>
                        </fieldset>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="modal-footer">
                  <fieldset class="form-group position-relative has-icon-left mb-0">
                      <button [disabled]="!entryForm.valid" type="submit" class="btn btn-primary add-todo-item waves-effect waves-light"
                      >
                        <i class="feather icon-check d-block d-lg-none"></i>
                          <span class="d-none d-lg-block">{{ data | titlecase}}</span></button>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left mb-0">
                      <button type="button" (click)="clearForm();" mat-dialog-close class="btn btn-outline-light waves-effect waves-light actions">
                        <i class="feather icon-x d-block d-lg-none"></i>
                          <span class="d-none d-lg-block">Cancel</span>
                        </button>
                  </fieldset>
                </div>
              </form>
          </section>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #entryActionModal let-data>
  <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
      <div class="modal-content">
          <section class="todo-form">
              <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(formData, ref, data.title)" class="todo-input"> -->
                <div class="modal-header">
                  <h5 class="modal-title">{{ data.action | titlecase }} Entry</h5>
                  <button type="button" class="close" aria-label="Close" mat-dialog-close>
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p> {{ data.question | titlecase}} </p>
                </div>
                <div class="modal-footer">
                  <fieldset class="form-group position-relative has-icon-left mb-0">
                    <button type="submit" class="btn btn-default add-todo-item waves-effect waves-light"
                      mat-dialog-close>
                      <i class="feather icon-times d-block d-lg-none"></i>
                        <span class="d-none d-lg-block">NO</span>
                    </button>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left mb-0">
                      <button type="submit" class="btn btn-primary add-todo-item waves-effect waves-light"
                        (click)="submitEntryAction(data.action, data.id)">
                        <i class="feather icon-check d-block d-lg-none"></i>
                          <!-- <span class="d-none d-lg-block">Move to {{ data.title.action | titlecase}}</span> -->
                          <span class="d-none d-lg-block">YES</span>
                      </button>
                  </fieldset>
                </div>
              <!-- </form> -->
          </section>
      </div>
    </div>
  </div>
</ng-template>
