<div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ul
              class="nav nav-tabs nav-left flex-column"
              role="tablist"
              *ngFor="let setup of setupTabs"
            >
              <li class="nav-item">
                <a
                  class="nav-link bold-700"
                  [routerLink]="[setup.route]"
                  routerLinkActive="active"
                  >{{ setup.name | uppercase}}</a
                >
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="tab-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
