<ngx-spinner
  bdColor="rgba(246,246,246,0.9)"
  color="#000000"
  type="ball-beat"
  size="large"
  template="<img src='../../../assets/images/goslogo.jpg' width='80' height='80'>"
> <div class="text-center">
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  </div>
</ngx-spinner>
<router-outlet></router-outlet>
