<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
  <p class="clearfix blue-grey lighten-2 mb-0">
    <span class="float-md-left mr-md-auto d-block d-md-inline-block mt-25">COPYRIGHT &copy; {{ date }}
      <a class="text-bold-800 grey darken-2"><strong>MINISTRY OF ECONOMIC PLANNING & BUDGET</strong>,</a>
      All rights Reserved
    </span>
    <span class="float-md-right ml-md-auto d-none d-md-block"></span>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
  </p>
</footer>
<!-- END: Footer-->
