<div class="section">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex">
              <div class="ml-auto">
                <button type="button" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light"
                  (click)="openModal(createUploadTypeModal, {action: 'create'})">
                  <i class="feather icon-plus-circle"></i> Create Upload Type
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-bordered mb-0">
                <thead style="background-color: #0039A6; color: #fff;">
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="table-hover table-striped">
                  <ng-container *ngIf="uploadTypes !== undefined && uploadTypes.length > 0">
                    <tr *ngFor="let type of uploadTypes, let i = index;">
                      <td>{{ type.name | titlecase}}</td>
                      <td>{{ type.code | titlecase}}</td>
                      <td>
                            <button class="btn" mat-icon-button matTooltip="Delete Unit"
                              (click)="openModal(deleteUploadTypeModal, {action: 'delete', extraData: type})" >
                              <mat-icon color="warn">delete</mat-icon>
                            </button>
                      </td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="uploadTypes === undefined || uploadTypes.length <= 0">
                    <td colspan="3">No data available</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createUploadTypeModal let-data>
  <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
      <div class="modal-content">
          <section class="todo-form">
              <form [formGroup]="uploadTypeForm" (ngSubmit)="onSubmit(uploadTypeFormData)" class="todo-input">
                <div class="modal-header">
                  <h5 class="modal-title">{{ data.action | titlecase}} Upload Type</h5>
                  <button type="button" class="close" mat-dialog-close aria-label="Close" (click)="clearForm(uploadTypeForm);">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <fieldset class="form-label-group form-group position-relative">
                    <input type="text" [ngClass]="{'form-control' : true,
                                                    'is-invalid' : (uploadTypeFormData.uploadname.dirty || uploadTypeFormData.uploadname.touched) && uploadTypeFormData.uploadname.invalid,
                                                    'is-valid' : (uploadTypeFormData.uploadname.dirty || uploadTypeFormData.uploadname.touched) && uploadTypeFormData.uploadname.valid
                                                  }" id="uploadname" formControlName="uploadname" placeholder="Enter Upload Type Name">
                    <label for="uploadname">Upload Type</label>

                    <ng-container *ngIf="(uploadTypeFormData.uploadname.dirty || uploadTypeFormData.uploadname.touched) && uploadTypeFormData.uploadname.invalid">
                      <div *ngIf="uploadTypeFormData.uploadname.errors.required" class="invalid-feedback">{{data.action | titlecase}} Name is required</div>
                    </ng-container>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="uploadcat">Upload Category</label>
                    <select id="uploadcat" class="form-control" formControlName="uploadcat">
                        <option [value]="null">Select Category</option>
                        <option value="HR">HR</option>
                        <option value="NON-HR">NON-HR</option>
                    </select>

                    <ng-container *ngIf="(uploadTypeFormData.uploadcat.dirty || uploadTypeFormData.uploadcat.touched) && uploadTypeFormData.uploadcat.invalid">
                      <div *ngIf="uploadTypeFormData.uploadcat.errors.required" class="invalid-feedback">Please Select Upload Category</div>
                    </ng-container>
                  </fieldset>
                </div>
                <div class="modal-footer">
                 <ng-container *ngIf="!actionLoading">
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                        <button [disabled]="!uploadTypeForm.valid" type="submit" class="btn btn-primary add-todo-item waves-effect waves-light"
                        >
                          <i class="feather icon-check d-block d-lg-none"></i>
                            <span class="d-none d-lg-block">Create</span></button>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                        <button type="button" (click)="clearForm(uploadTypeForm);" mat-dialog-close class="btn btn-outline-light waves-effect waves-light actions">
                          <i class="feather icon-x d-block d-lg-none"></i>
                            <span class="d-none d-lg-block">Cancel</span>
                          </button>
                    </fieldset>
                 </ng-container>

                  <mat-progress-spinner *ngIf="actionLoading" color="primary" mode="indeterminate" diameter='30' strokeWidth='3'></mat-progress-spinner>
                </div>
              </form>
          </section>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteUploadTypeModal let-data>
  <div class="modal fade show" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
      <div class="modal-content">
          <section class="todo-form">
              <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(formData, ref, data.title)" class="todo-input"> -->
                <div class="modal-header">
                  <h5 class="modal-title">Delete Upload type</h5>
                  <button type="button" class="close" aria-label="Close" mat-dialog-close>
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p> Are you sure you want to delete this upload type? </p>
                </div>
                <div class="modal-footer">
                  <ng-container *ngIf="!actionLoading">
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                      <button type="submit" class="btn btn-default add-todo-item waves-effect waves-light"
                        mat-dialog-close>
                        <i class="feather icon-times d-block d-lg-none"></i>
                          <span class="d-none d-lg-block">NO</span>
                      </button>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                        <button type="submit" class="btn btn-primary add-todo-item waves-effect waves-light"
                          (click)="submitModal(data)">
                          <i class="feather icon-check d-block d-lg-none"></i>
                            <!-- <span class="d-none d-lg-block">Move to {{ data.title.action | titlecase}}</span> -->
                            <span class="d-none d-lg-block">YES</span>
                        </button>
                    </fieldset>
                  </ng-container>

                  <mat-progress-spinner *ngIf="actionLoading" color="primary" mode="indeterminate" diameter='30' strokeWidth='3'></mat-progress-spinner>
                </div>
              <!-- </form> -->
          </section>
      </div>
    </div>
  </div>
</ng-template>
