<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
      <div class="row breadcrumbs-top">
          <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Project</h2>
              <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="['/admin']">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active"><a>Project</a>
                      </li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
  <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
      <div class="form-group breadcrum-right">
          <div class="dropdown">
              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['/admin']">Dashboard</a>
                <a class="dropdown-item" [routerLink]="['/admin/budget']">Budget</a>
                <a class="dropdown-item" [routerLink]="['/admin/documents']">Documents</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="content-body">
  <!-- Zero configuration table -->
  <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header ml-auto">
                    <button type="button" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light"
                      [routerLink]="['/admin/project/create-project']">
                      <i class="feather icon-plus-circle"></i> Create Project
                    </button>
                  </div>
                  <div class="card-content">
                    <div class="card-body card-dashboard">
                      <div class="row" id="table-bordered">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                  <thead>
                                      <tr>
                                          <th>Project Name</th>
                                          <th>Description</th>
                                          <th>Budget</th>
                                          <th>Start Date</th>
                                          <th>End Date</th>
                                          <th>Amount Approved</th>
                                          <th>Amount Utilized</th>
                                          <th>Remaining Amount</th>
                                          <th>% Utilization</th>
                                          <th>Awarded To</th>
                                          <th>Status</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody class="table-hover table-striped" *ngFor="let details of projectDetails, let i = index;">
                                      <tr >
                                          <th scope="row">{{details.projectName}}</th>
                                          <td>{{details.description}}</td>
                                          <td>{{details.budget}}</td>
                                          <td>{{details.startDate}}</td>
                                          <td>{{details.endDate}}</td>
                                          <th>{{details.amountApproved}}</th>
                                          <td>{{details.amountUtilized}}</td>
                                          <td>{{details.remainingAmount}}</td>
                                          <td>{{details.utilization}}</td>
                                          <td>{{details.awardedTo}}</td>
                                          <td>{{details.status}}</td>
                                          <td>
                                            <div class="btn-group">
                                              <div class="dropdown">
                                                  <button class="btn bg-gradient-primary dropdown-toggle mr-1 mb-1 waves-effect waves-light"
                                                    type="button" id="dropdownMenuButton101" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Action
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton101">
                                                      <a class="dropdown-item" [routerLink]="['/admin/project/view-project']">View</a>
                                                      <a class="dropdown-item" [routerLink]="['/admin/project/update-project']">Update</a>
                                                      <a class="dropdown-item" href="#">Approve</a>
                                                  </div>
                                              </div>
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>
