
<div class="content-body">
  <!-- Zero configuration table -->
  <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header ml-auto">
                    <button type="button" class="btn btn-outline-primary mr-1 mb-1 waves-effect waves-light"
                      [routerLink]="['/admin/handover/create-handover']">
                      <i class="feather icon-plus-circle"></i> Create Handover
                    </button>
                  </div>
                  <div class="card-content">
                    <div class="card-body card-dashboard">
                      <div class="row" id="table-bordered">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                  <thead style="background-color: #0039A6; color: #fff;">
                                      <tr>
                                        <th>S/N</th>
                                        <th>Resignee Name</th>
                                        <th>Resignee Address</th>
                                        <th>Resignee Phone</th>
                                        <th>Takeover Name</th>
                                        <th>Reason</th>
                                        <th>Witness</th>
                                        <th>Effective Date</th>
                                        <th></th>
                                      </tr>
                                  </thead>
                                  <tbody class="table-hover table-striped table-hover-animation"  *ngFor="let note of handoverNotes, let i = index;">
                                    <ng-container *ngIf="handoverNotes !== undefined && handoverNotes.length > 0">
                                      <tr>
                                        <td scope="row"> {{ i + 1 }} </td>
                                        <td>{{note.resignee_name}}</td>
                                        <td>{{note.resignee_address}}</td>
                                        <td>{{note.resignee_phone}}</td>
                                        <td>{{note.takeover_name}}</td>
                                        <td>{{note.handover_reason}}</td>
                                        <th>{{note.handover_witness}}</th>
                                        <td>{{note.handover_effective_date | date}}</td>
                                        <td>
                                          <button mat-icon-button aria-label="View Handovers" color="primary" class="btn" matTooltip="View Handover Note"
                                            matTooltipPosition="below" [routerLink]="['/admin/handover/view-handover']" [queryParams]="{handoverId: note.handover_id}">
                                            <mat-icon>pageview</mat-icon>
                                          </button>
                                        </td>
                                      </tr>
                                    </ng-container>
                                    <ng-container *ngIf="handoverNotes === undefined && handoverNotes.length <= 0">
                                      <tr>
                                        <td colspan="9">No Handover Note data</td>
                                      </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>
